---
layout: default
---

<div class="row Intro-wrapper--sm">
  <div class="col-lg-8 mx-auto text-center">
    <h1 class="Intro-title Intro-title--pink">Topics</h1>
    <p class="Intro-subtitle">Explore topics and technologies related to modern web development.</p>
  </div>
</div>

{% for tag in site.tags %}
<div class="row">
  <div class="col-lg-8 mx-auto">
    <h2 class="Topic-title"><a href="/topic/{{ tag[0] | downcase }}">{{ tag[0] }}</a></h2>
    {% for post in tag[1] limit:3 %}

      {% include post-preview.html %}

    {% endfor %}

    {% if tag[1].size > 3 %}
      <a href="/topic/{{ tag[0] | downcase }}">
        <button class="Button Button--blueGrey">More</button>
      </a>
    {% endif %}

  </div>
</div>
{% endfor %}

