<footer class="container-fluid Footer">
  <div class="container">
    <div class="row Footer-wrapper">
      <div
        class="col-md-8 d-flex align-items-center justify-content-center mx-auto py-5"
      >
        <logo color="green--outline" :stroke-width="8" :width="75"></logo>
        <h3 class="Logo-text Logo-text--footer">HackWild</h3>
      </div>
      <div class="col-12 text-center">
        <p class="Footer-legal">&copy; 2020 <a href="https://christophermurphy.dev" target="_blank" rel="noopener">Christopher Murphy</a></p>
      </div>
    </div>
  </div>
</footer>
