<nav class="container-fluid Navbar">
  <div class="container Navbar-wrapper">
    <div class="row align-items-center h-100">
      <div class="col-3 offset-1">
        <logo class="d-inline-block" width="30" height="30"></logo>
        <h1 class="d-inline-block">HackWild</h1>
      </div>
      <div class="col-7 mr-auto">
        <ul class="Navlist">
          <li>Topics</li>
          <li>Popular</li>
          <li>Archive</li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
</nav>