<nav class="container-fluid Navbar">
  <div class="container Navbar-wrapper">
    <div class="row align-items-center h-100">
      <div class="col-2 offset-md-1">
        <a href="/" class="d-flex align-items-center Navbar-logo-wrapper" aria-label="Navigate home">
          <logo color="green" :width="30"></logo>
          <h1 class="d-none d-sm-block Logo-text Logo-text--nav">HackWild</h1>
        </a>
      </div>
      <div class="col-8 d-flex align-items-center justify-content-end mr-md-auto">
        <ul class="Navlist Navlist--desktop">
          <li class="Navlist-item"><a href="/topics/" aria-label="View list of articles grouped by topics">Topics</a></li>
          <li class="Navlist-item"><a href="/articles/" aria-label="View list of all articles">Articles</a></li>
        </ul>
        <the-search-input></the-search-input>
      </div>
      <div class="col-2 d-block d-md-none h-100">
        <the-mobile-menu></the-mobile-menu>
      </div>
    </div>
    <div class="row Navlist-wrapper--mobile" :class="{ 'is-open': menuOpen }">
      <div class="col-12">
        <ul class="Navlist Navlist--mobile" :class="{ 'is-open': menuOpen }">
          <li class="Navlist-item"><a href="/topics/" aria-label="View list of articles grouped by topics">Topics</a></li>
          <li class="Navlist-item"><a href="/articles/" aria-label="View list of all articles">Articles</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>