{% assign topic = post.tags | first %}
<a href="{{ post.url }}" aria-label="View {{ post.title }} article">
  {% if post.hero_image %}
  <img
    src="/static/images/{{ post.hero_image.src }}"
    alt="{{ post.hero_image.alt }}"
  />
  {% endif %}
  <div class="border-top PostPreview">
    <h2 class="PostPreview-title">{{ post.title }}</h2>
    <div class="PostPreview-footer">
      <p class="PostPreview-body PostPreview-body--single">
        {{ post.description }}
      </p>
      <a href="/topic/{{ topic | downcase }}"
        ><p class="PostPreview-tag">{{ topic }}</p></a
      >
    </div>
  </div>
</a>
