{% capture author %}
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
{% endcapture %}

{% capture og_image %}
  {% if page.og_image %}
    {{ page.og_image }}
  {% else %}
    /static/images/hackwild-logo.png
  {% endif %}
{% endcapture %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": [
    "{{ site.url }}{{ og_image | strip }}"
  ],
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.date }}",
  "author": {
    "@type": "Person",
    "name": "{{ author | strip }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/static/images/hackwild-logo.png"
    }
  },
  "description": "{{ page.description }}"
}
</script>