// @import '/node_modules/bootstrap-nucleus/dist/bootstrap-nucleus.css';
@import '/css/bootstrap-nucleus.css';
@import '/css/dracula.css';

html {
  height: 100%;
}

body {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  font-family: 'IBMPlexSans';
  min-height: 100vh;
  position: relative;
}

a {
  color: inherit;
  transition: $transitionDefault;
  &:hover {
    text-decoration: none;
  }
}

.BodyCopy {
  font-family: $fontBody;
  font-weight: 300;
  letter-spacing: 0.025rem;
  line-height: 2rem;
}

.Button {
  border: 0;
  border-radius: $borderRadius;
  cursor: pointer;
  display: block;
  font-family: $fontHeading;
  font-size: 1.15rem;
  margin: 0 auto;
  padding: 1rem 8rem;
}

.Button--blueGrey {
  background-color: $colorBlueGrey;
  color: $colorGreen
}

.Button--inline {
  cursor: pointer;
  transition: $transitionDefault;
}

.Button--inline--blue {
  color: $colorLightBlue;
  &:hover {
    color: $colorGreen;
  }
}

.ContentWrapper {
  padding-top: 8rem;
  padding-bottom: 16rem;
}

.Intro-title {
  font-family: 'Lato';
  font-size: 2.5rem;
  font-weight: 400;
}

.Logo-text {
  display: inline-block;
  font-family: $fontHeading;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 0 0 0.5rem 0.5rem;
}
