// @import '/node_modules/bootstrap-nucleus/dist/bootstrap-nucleus.css';
@import '/css/bootstrap-nucleus.css';
@import '/css/dracula.css';

html {
  height: 100%;
}

body {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  position: relative;
}

.ContentWrapper {
  padding-top: $navbarHeight;
}

.Logo-text {
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: .05rem;
  margin: 0 0 .5rem .5rem;
  text-transform: uppercase;
}
