.Navbar {
  background-color: $colorDarkBlue;
  position: fixed;
  height: $navbarHeight;
  z-index: 10;
}

.Navbar-wrapper {
  border-bottom: $borderRadius solid $colorBlueGrey;
  height: 100%;
}

.Navbar-logo-wrapper {
  &:hover {
    color: $colorPink;
  }
}

.Navlist {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.Navlist-item {
  margin-left: 2rem;
}
