.PostPreview {
  background-color: $colorBlueGrey;
  border-left: 4px solid $colorPink;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.PostPreview-title {
  color: $colorGreen;
  font-family: $fontHeading;
  font-size: 1.66rem;
  font-weight: 400;
  letter-spacing: .025rem;
}

.PostPreview-body {
  @extend .BodyCopy;
  color: $colorWhite;
  font-size: 1.15rem;
  margin: 0;
}
