.PostPreview {
  background-color: $colorBlueGrey;
  border-left: $borderRadius solid $colorPink;
  border-bottom-right-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.PostPreview-title {
  color: $colorGreen;
  font-family: $fontHeading;
  font-size: 1.66rem;
  font-weight: 400;
  letter-spacing: .025rem;
}

.PostPreview-title--condensed {
  font-size: 1rem;
}

.PostPreview-body {
  @extend .BodyCopy;
  color: $colorWhite;
  font-size: 1.15rem;
  margin: 0;
  padding-right: 2rem;
}

.PostPreview-body--condensed {
  font-size: 1rem;
}

.PostPreview-footer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.PostPreview-tag {
  background-color: $colorDarkBlue;
  border-radius: $borderRadius;
  color: $colorPink;
  font-family: $fontHeading;
  margin: 0;
  padding: .075rem 1rem;
}
