article {
  & blockquote {
    background-color: $colorBlueGrey;
    border-left: 4px solid $colorGreen;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: auto;
    padding: 1rem 1rem 1rem 2rem;
    & p {
      font-style: italic;
      margin: 0;
    }
  }
  & em {
    font-style: italic;
  }
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', Cambria, Cochin, Georgia, Times, 'Times New Roman',
      serif;
    font-weight: 400;
  }
  & h1 {
    color: $colorGreen;
    font-size: 3rem;
    margin: 4rem 0;
  }
  & h2 {
    color: $colorPink;
    font-size: 1.66rem;
    margin-top: 3rem;
  }
  & h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  & h3,
  h4,
  h5,
  h6 {
    color: $colorLightBlue;
  }
  & p {
    font-family: 'IBMPlexSans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.025rem;
    line-height: 2rem;
    margin: 2rem 0;
  }
  & strong {
    font-weight: 500;
  }
}

hr {
  background-color: $colorBlueGrey;
  border: 0;
  height: 4px;
}

code,
pre {
  font-family: 'FiraCode', 'Courier New', Courier, monospace;
  font-size: .9rem;
  font-weight: 300;
}

pre {
  line-height: 2rem;
}

// dracula syntax highlight hook
.highlight {
  border-radius: 4px;
  padding: 1rem;
}

// inline code manually styled
code.highlighter-rouge {
  background: #282a36;
  border-radius: 4px;
  color: #f8f8f2;
  padding: 0.075rem 0.5rem;
}
