---
layout: default
---

<div class="row Intro-wrapper">
  <div class="col-lg-8 d-flex align-items-center mx-auto">
    <logo color="green--outline" :stroke-width="8" :width="150"></logo>
    <h2 class="Intro-title ml-3 ml-md-4 ml-lg-5">Hacking through the dense jungle of the modern web.</h2>
  </div>
</div>

<div class="row">
  {% for post in site.posts limit:7 %}
    {% if post.hero_image %}
      {% if forloop.first == true %}
        <div class="col-12">{% include post-preview-image--feature.html %}</div>
      {% else %}
        {% if forloop.index == 2 or forloop.index == 3 %}
          <div class="col-6">{% include post-preview-image.html %}</div>
        {% else %}
          <div class="col-6">{% include post-preview.html %}</div>
        {% endif %}
      {% endif %}
    {% else %}
      <div class="col-6">{% include post-preview.html %}</div>
    {% endif %}
  {% endfor %}
  <a href="/articles/">
    <button class="Button Button--blueGrey" aria-label="View list of all articles">More Articles</button>
  </a>
</div>
