---
layout: default
---

<div class="row" style="padding-bottom: 2rem">
  <div class="col-md-12 d-flex justify-content-center mx-auto">
    <div class="Logo-brand">
      {{ content }}
    </div>
  </div>
  <div class="col-md-10 col-lg-6 mx-auto text-center">
    <h2 class="Intro-title Intro-title--borderBottom Intro-title--pink">
      {{ page.title }}
    </h2>
    <p class="Intro-subtitle">{{ page.tagline }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 mx-auto">
    {% for tag in site.tags %}
    {% if tag[0] == page.topic %}
    <div class="row">
      {% for post in tag[1] %}
      <div class="col-md-6 col-12 mb-4 mx-auto">
        {% include post-preview-image.html feature=false %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
